html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #222;
}
body, canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
}
canvas {
  background: #eee;
}
